<HTML>
<HEAD>
<TITLE>Thanks!</TITLE>
</HEAD>
<META HTTP-EQUIV="refresh" CONTENT="10; URL=<TMPL_VAR ESCAPE=HTML PAGE>">
<BODY>

<h1>Thank you for showing your friends our site!</h1>
<h2>This page will automatically send you back to the page you were viewing in a few seconds.  <A HREF="<TMPL_VAR ESCAPE=HTML PAGE>">Click here</A> to go there now.</h2>

</BODY>
</HTML>
